touch .gitignore

# Virtual environment
venv/
*.pyc
__pycache__/
.Python
.pytest_cache/

# Environment variables (sensitive data)
.env

# MySQL specific
*.sql.log # If you have any MySQL log files

# Other common ignored files
.DS_Store # macOS specific
*.envrc # direnv specific
*.log

